<img src="images/Banner.png"/>
<script type="text/javascript" src="views/js/biljetKeuze.js"></script>
<div class="container">
	<div class="row">
		<div class="col-ms-12">
			<h1>Maak een keuze uit de volgende biljetcombinaties:</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-ms-12 menuItem">
			<table><tr>
				<td><div class="mbutton">1</div></td>
				<td>Minst aantal biljetten</td>
			</tr></table>
		</div>
	</div>

	<div class="row">
		<div class="col-ms-12 menuItem">
			<table><tr>
				<td><div class="mbutton">2</div></td>
				<td>Gemiddeld aantal biljetten (vooral €20,-) </td>
			</tr></table>
		</div>
	</div>

	<div class="row">
		<div class="col-ms-12 menuItem">
			<table><tr>
				<td><div class="mbutton">3</div></td>
				<td>Meest aantal biljetten (vooral €10,-)</td>
			</tr></table>
		</div>
	</div>

	<div class="row">
		<div class="col-ms-12 menuItem">
			<table><tr>
				<td><div class="mbutton">←</div></td>
				<td>Terug</td>
			</tr></table>
		</div>
	</div>
</div>
