<img src="images/Banner.png"/>
<script type="text/javascript" src="views/js/bonVragen.js"></script>
<div class="container">
	<div class="row">
		<div class="col-ms-12">
			<h1>Wilt u een transactiebon?</h1>
		</div>
	</div>
	
	<div class="row">
				<div class="col-ms-12 menuItem">
					<table><tr>
						<td><div class="mbutton">J</div></td>
						<td>Wel een transactiebon</td>
					</tr></table>
				</div>
			</div>
	<div class="row">
				<div class="col-ms-12 menuItem">
					<table><tr>
						<td><div class="mbutton">N</div></td>
						<td>Geen transactiebon</td>
					</tr></table>
				</div>
			</div>		
			
</div>
