<img src="images/Banner.png"/>
<script type="text/javascript" src="views/js/customBedrag.js"></script>
<div class="container">
	<div class="row">
		<div class="col-ms-12">
			<h1>Voer het gewenste bedrag in.<br></h1>
			<h4>Enkel veelvouden van &euro;10,-, maximaal &euro;500,-</h4>
			<div align="center">
			<div class="customMoney">
			<input type="text"/>
			</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-ms-12 menuItem">
			<table><tr>
				<td><div class="mbutton">←</div></td>
				<td>Herstel invoer</td>
			</tr></table>
		</div>
	</div>
	
	<div class="row">
		<div class="col-ms-12 menuItem">
			<table><tr>
				<td><div class="mbutton">J</div></td>
				<td>Bevestigen</td>
			</tr></table>
		</div>
	</div>
	
	<div class="row">
		<div class="col-ms-12 menuItem">
			<table><tr>
				<td><div class="mbutton">N</div></td>
				<td>Terug</td>
			</tr></table>
		</div>
	</div>
	
	
</div>
</div>
