<img src="images/Banner.png"/>
<script type="text/javascript" src="views/js/geldVragen.js"></script>

<div class="container">
	<div class="row">
		<div class="col-ms-12">
			<h1>Hoeveel geld wilt u opnemen?</h1>
			<h4>Voor grijze biljetten heeft u te weinig saldo.</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-ms-12">
			<h3 id="geldMsg"></h3>
		</div>
	</div>
	
	<div class="row money">
		<div class="col-ms-12 menuItem">
			<table><tr>
				<td><div class="mbutton">1</div></td>
				<td><img src="images/10Euro.png" class="moneyImg" /></td>
			<div align="right">
				<td><div class="mbutton">4</div></td>
				<td>Ander bedrag</td>
			</div>	
			</tr></table>
		</div>
	</div>

	<div class="row money">
		<div class="col-ms-12 menuItem">
			<table><tr>
				<td><div class="mbutton">2</div></td>
				<td><img src="images/20Euro.png" class="moneyImg" /></td>
				<td><div class="mbutton">J</div></td>
				<td>Doorgaan</td>
			</tr></table>
		</div>
	</div>

		<div class="row money">
		<div class="col-ms-12 menuItem">
			<table><tr>
				<td><div class="mbutton">3</div></td>
				<td><img src="images/50Euro.png" class="moneyImg" /></td>
				<td><div class="mbutton">←</div></td>
				<td>Terug</td>
			</tr></table>
		</div>
	</div>
	
	<div class="row">
		<h4>Uw keuze:</h4>
		<div align="center">
			<div class="col-ms-12 moneyBox">
			</div>
		</div>
	</div>
	
	</div>
