<script type="text/javascript" src="views/js/geldVragen.js"></script>

<div class="container">
	<div class="row">
		<div class="col-ms-12">
			<h1>Hoeveel geld wilt u opnemen?</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-ms-12">
			<h3 id="geldMsg"></h3>
		</div>
	</div>
	
	<table border="0" style="background-color:#FFFFFF;border-collapse:collapse;border:0px solid #FFCC00;color:#000000;width:100%" cellpadding="3" cellspacing="3">
		<tr>
			<td><h3>1)	<img src="images/5Euro.png" class="moneyImg" /></h3></td>
			<td><h3><img src="images/100Euro.png" class="moneyImg" />	(5</h3></td>
		</tr>
		<tr>
			<td><h3>2)	<img src="images/10Euro.png" class="moneyImg" /></h3></td>
			<td><h3><img src="images/200Euro.png" class="moneyImg" />	(6</h3></td>
		</tr>
		<tr>
			<td><h3>3)	<img src="images/20Euro.png" class="moneyImg" /></h3></td>
			<td><h3><img src="images/500Euro.png" class="moneyImg" />	(7</h3></td>
		</tr>
		<tr>
			<td><h3>4)	<img src="images/50Euro.png" class="moneyImg" /></h3></td>
			<td><h3><img src="images/anderBedrag.png" class="moneyImg" />	(8</h3></td>
		</tr>
	</table>
	
	<div class="row">
		<div align="center">
			<div class="col-ms-12 moneyBox">
			</div>
		</div>
	</div>
		<div class="row">
			<div class="col-ms-12">
				<h2>Gebruik de Ja toets om door te gaan</h2>
			</div>
		</div>
		
	<div class="row">
		<div class="col-ms-12 menuItem">
			<table><tr>
				<td><div class="mbutton">←</div></td>
				<td>Terug</td>
			</tr></table>
		</div>
	</div>
	</div>
