<script type="text/javascript" src="views/js/mainMenu.js"></script>
<div class="container">
	<div class="row">
		<div class="col-ms-12">
			<h1>wat wilt u doen</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-ms-12 menuItem">
			<table><tr>
				<td><div class="mbutton">A</div></td>
				<td>saldo opvragen</td>
			</tr></table>
		</div>
	</div>

	<div class="row">
		<div class="col-ms-12 menuItem">
			<table><tr>
				<td><div class="mbutton">B</div></td>
				<td>geld Pinnen</td>
			</tr></table>
		</div>
	</div>

		<div class="row">
		<div class="col-ms-12 menuItem">
			<table><tr>
				<td><div class="mbutton">⬅</div></td>
				<td>stoppen</td>
			</tr></table>
		</div>
	</div>
</div>
