<img src="https://raw.githubusercontent.com/wvanderp/project-3-4/master/web/images/Banner.png"/>
<script type="text/javascript" src="views/js/pinInVullen.js"></script>
<div class="container">
	<div class="row">
		<div class="col-ms-12">
			<h1>Voer uw pincode in.</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-ms-12">
			<h3 id="errorbox"></h3>
		</div>
	</div>
	
	<div class="row">
		<div class="col-ms-12">
			<div class="row">
				
				<div class="pinField"></div>
				<div class="pinField"></div>
				<div class="pinField"></div>
				<div class="pinField"></div>
		
			</div>
		</div>
	</div>
</div>
