<img src="https://raw.githubusercontent.com/wvanderp/project-3-4/master/web/images/Banner.png"/>
<script type="text/javascript" src="views/js/saldoVragen.js"></script>
<div class="container">
	<div class="row">
		<div class="col-ms-12">
			<h1>Uw saldo bedraagt:</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-ms-12">
			<h1 id="saldo"></h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-ms-12 menuItem">
			<table><tr>
				<td><div class="mbutton">←</div></td>
				<td><h3>Terug</h3></td>
			</tr></table>
		</div>
	</div>
</div>
