<img src="https://raw.githubusercontent.com/wvanderp/project-3-4/master/web/images/Banner.png"/>
<script type="text/javascript" src="views/js/taalKeuze.js"></script>
<div class="container">
	<div class="row">
		<div class="col-ms-12">
			<h1>Choose your language:</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-ms-12">
			<ul>
				<li><h3>Nederlands</h3></li>
				<li><h3>English</h3></li>
				<li><h3>Deutsch</h3></li>
				<li><h3>Francais<h3></li>
			</ul>
		</div>
	</div>
	
		<div class="row">
		<div class="col-ms-12 menuItem">
			<table><tr>
				<td><div class="mbutton">←</div></td>
				<td>Back</td>
			</tr></table>
		</div>
	</div>
</div>

